# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
/outputs/
/training_dir/
/samples/
/inference_outputs/
/processed_datasets/
/Successfull_Train_dir/
*.pth
Classical_methods/svm-classification.png
Classical_methods/plots

tmp_file.WAV
